* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
}
:root {
    --primary: #ffc0e3;
    --secondary:  #fde2f1;
    --terciary:#ff6bbc;
    --quaternary: #e92591;
    --black: #000000;
    --White: #ffffff;
}

/*Header*/

header{
    display: flex;
    background-color: var(--primary);
    justify-content: center;
    align-items: center;
    height: 7rem;
}

header h1{
    text-shadow: 1.5px 1.5px var(--black);
    color: var(--White);
    padding-top: 2rem;
    font-size: 2.5rem;
}

header a img{
    width: 6rem;
    padding-left: 1rem;
}

nav{
    background-image: radial-gradient(#ff6bbc, #ffffff);
    height: 2.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 42rem;
    padding-left: 42rem;
}

nav a{
    text-decoration: none;
    font-size: 1.7rem;
    text-shadow: 1px 1px var(--black);
    color: var(--White);
    align-items: center;
    justify-content: space-between;
    
}

header nav a:hover{
    font-weight: bold;
    color: rgb(233, 37, 145);
}


/*Main*/

main{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary);
    background-image: url("../imagens/brilho2.gif");
    min-height: calc(100vh - 12.2rem);
}

.index{
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

main div img{
    width: 15rem;
}

.img{
    display: flex;
    justify-content: center;
    align-items: center;
}


/*Main Tabelas*/

.table{
    display: block;
    align-items: center;
    justify-content: center;
}

.add{
    display: flex;
    align-items: center;
    justify-content: center;
}

.add a{
    color: var(--black);
    text-decoration: none;
    font-size: 2rem;
    margin: 1rem;
    font-weight: bold;
}

.msg{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--quaternary);
    margin: 1rem;
    font-size: 2rem;
}

table, tr, td, th{
    border: 2px solid var(--quaternary);
    border-collapse: collapse;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1.5rem;
    background-color: var(--secondary);
}

table tr td a{
    color: var(--black);
    text-decoration: none;
}

table {
    padding-top: 10rem;
    margin: auto;
}


/*Formularios*/

fieldset{
    width: fit-content;
    height: fit-content;
    flex-direction: column;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid var(--quaternary);
    align-items: center;
    padding-bottom: 0.5rem;
    background-color: var(--secondary);
}

fieldset div{
    padding: 0.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

fieldset div input{
    height: 1.5rem;
}

input:hover{
    background-image: radial-gradient(#ff6bbc, #ffffff);
    border-radius: 0.2rem;
}

button{
    width: 4rem;
    height: 1.5rem;
}

button:hover{
    background-image: radial-gradient(#ff6bbc, #ffffff);
    border-radius: 0.2rem;
}


/*Footer*/

footer{
    background-image: radial-gradient(#ff6bbc, #ffffff);
    height: 3rem;
    text-shadow: 1.5px 1.5px var(--black);
    color: var(--White);
    font-size: 1rem;
    align-items: center;
    text-align: center;
    justify-content: left;
    display: flex;
    padding-left: 1.5rem;
}
