{% extends 'base.html' %}

{% block conteudo %}
<div class="table">

    <div class="add">
        <a href="/autores/add">Adicionar</a>
    </div>
    <table>
        <tr>
            <th>Nome</th>
            <th>Nacionalidade</th>
            <th>Edita</th>
            <th>Remove</th>
        </tr>
        {% for a in autores %}
        <tr>
            <td>{{a.nome}}</td>
            <td>{{a.nacionalidade}}</td>
            <td><a href="/autores/edita/{{a.id}}">Editar</a></td>
            <td><a href="/autores/remove/{{a.id}}">Remover</a></td>
        </tr>
        {% endfor %}
    </table>
    {% set mensagens = get_flashed_messages() %}
    {% if mensagens %}
        {% for msg in mensagens %}
            <div class="msg">
                {{ msg }}
            </div>
        {% endfor %}
    {% endif %}

</div>
{% endblock %}