<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blue Print</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/estilo.css')}}">
</head>
<body>
    <header>
        <div class="header">
            <a href="/"><img src="../static/imagens/bug.png" alt="bug"></a>
            <div class="links_nav">
                <a href="/clientes"><b>Clientes</b></a>
                <a href="/reclamacoes"><b>Reclamações</b></a>
            </div>
        </div>
    </header>
    <main>
        <div class="conteudo">
            {% block conteudo %}
            {% endblock %}
        </div>
    </main>
</body>
</html>