<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blue Print</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/estilo.css')}}">
</head>
<body>
    <header>
        <h1>Autores e Livros</h1>
        <a href="/"><img src="../static/imagens/hello_kitty2.png" alt=""></a>
    </header>
    <nav>
        <h1><a href="/autores">Autores</a></h1>
        <h1><a href="/livros">Livros</a></h1>
    </nav>

    <main>
        {% block conteudo %}
        {% endblock %}
    </main>
    <footer>
        <h1> &#169 copyleft</h1>
    </footer>
</body>
</html>