<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blue Print</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/estilo.css')}}">
</head>
<body>
    <header>
        <div>
            <a href="/"><img src="../static/imagens/hello_kitty.png" alt="hello_kitty"></a>
            <h1>Autores e Livros</h1>
        </div>

    </header>
    <div class="links_nav">
        <a href="/autores"><b>Autores</b></a>
        <a href="/livros"><b>Livros</b></a>
    </div>
    <main>
        <div class="conteudo">
            {% block conteudo %}
            {% endblock %}
        </div>
    </main>
    <footer>
        <p>© copyleft</p>
    </footer>
</body>
</html>